<h4>Groups ({{this.groups.length | kNumber}})</h4>
<h4 (click)="this.toggle()">{{this.toggleText}}</h4>

<app-section-element class="grid">
    <ng-container *ngFor="let group of this.groups; let index = index; trackBy: groupTrackBy">
        <app-group-element
        #groupElement [group]="group" [loggedInAs]="this.loggedInAs" *ngIf="(
            this.viewAll && index < this.currentPage * this.maxPerPage && index >= (this.currentPage - 1) * this.maxPerPage)
            || !this.viewAll && index < 3"></app-group-element>
    </ng-container>
    <h6 *ngIf="this.groups.length === 0">No Groups</h6>
</app-section-element>
