
<h5 class="explore-header">
    Explore
</h5>
<ul class="explore-list"
*ngIf="{
    selection: (this.selection | async)!
} as data$$">
    <li [ngClass]="{
        'active': data$$.selection === 0
    }">
        <!-- <img> -->
        <h6>Home</h6>
    </li>
    <li [ngClass]="{
        'active': data$$.selection === 1
    }">
        <!-- <img> -->
        <h6>Dashboard</h6>
    </li>
    <li [ngClass]="{
        'active': data$$.selection === 2
    }">
        <!-- <img> -->
        <h6>Questions</h6>
    </li>
    <li [ngClass]="{
        'active': data$$.selection === 3
    }">
        <!-- <img> -->
        <h6>Groups</h6>
    </li>
    <li [ngClass]="{
        'active': data$$.selection === 4
    }">
        <!-- <img> -->
        <h6>Topics</h6>
    </li>
</ul>