:host {
    background:var(--gray-0);
    border-radius: var(--border-radius);
    grid-area:content;
    display:grid;
    grid-template-areas:
    '.'
    'explore-header'
    'explore-list'
    '.';
    grid-template-columns: 1fr;
    grid-template-rows: 20px max-content max-content 20px;
    column-gap:10px;
    row-gap:10px;
    height:fit-content;
    max-height:fit-content;
    min-height:fit-content;
    // @media (max-width:1000px) {
    //     grid-template-areas:
    //     'logo list';
    //     grid-template-columns: max-content 1fr;
    //     grid-template-rows: 1fr;
    // }
    app-logo-element {
        grid-area:logo;
    }
    h5.explore-header {
        grid-area:explore-header;
        margin-left:20px;
        margin-bottom:20px;
    }
    ul.explore-list {
        grid-area:explore-list;
    }
    ul {
        display:grid;
        grid-auto-rows: max-content;
        grid-auto-flow: row;
        column-gap:10px;
        list-style-type: none;
        li {
            transition: var(--transition);
            display:grid;
            grid-template-areas:
            '. . . .'
            '. icon list-item .'
            '. . . .';
            grid-template-columns: 10px max-content 1fr 10px;
            grid-template-rows: 20px 1fr 20px;
            column-gap:10px;
            cursor: pointer;
            position:relative;
            z-index:1;
            h6 {
                transition: var(--transition);
                filter:brightness(0.5);
                grid-area:list-item;
                z-index: 2;
            }
            &:before {
                transition: var(--transition);
                content:'';
                position:absolute;
                top:0px;
                right:100%;
                bottom:0px;
                left:0px;
                background:var(--blue);
                z-index:0;
                -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0) 0%, rgb(0, 0, 0, 0) 75%);
                mask-image: linear-gradient(90deg, rgba(0, 0, 0) 0%, rgb(0, 0, 0, 0) 75%);     
                filter:brightness(0.5);
            }
            &:after {
                transition: var(--transition);
                content:'';
                position:absolute;
                top:0px;
                right:calc(100% - 10px);
                bottom:0px;
                left:0px;
                background:var(--blue);
                opacity:0;
                z-index:0;
            }
            &:hover {
                // background: var(--gray-2);
                &:before {
                    right:50%;
                }
                &:after {
                    opacity:1;
                }
                h6 {
                    filter:brightness(1);
                }
            }
            &.active {
                background:var(--gray-1);
                h6 {
                    filter:brightness(1);
                    transform:scale(2) translateX(45%);
                }
                &:before {
                    right:50%;
                    background:var(--red);
                }
                &:after {
                    opacity:1;
                    background:var(--red);
                }
            }
        }
    }
}