@import '../../../scss/theme.scss';

:host {
    transition:var(--transition);
    border-radius: var(--border-radius);
    border:1px solid transparent;
    max-width:calc(100% - 2px);
    min-width:calc(100% - 2px);
    width:calc(100% - 2px);
    max-height:fit-content;
    min-height:fit-content;
    height:fit-content;
    overflow: hidden;
    display:grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: max-content max-content 20px;
    grid-template-areas:
    'image image image'
    '. statistics .'
    '. . .';
    row-gap: 20px;
    position: relative;
    app-section-element {
        grid-area:image;
        display:grid;
        grid-template-columns: 20px 150px 1fr 20px;
        grid-template-rows: 20px 75px 75px max-content;
        grid-template-areas:
        '. . . .'
        '. image header .'
        '. image description .'
        '. . description .';
        column-gap:20px;
        row-gap:20px;
        position:relative;
        app-group-image-element {
            grid-area: image;
            z-index:2;
            border-radius:1000px;
            min-height:150px;
            min-width:150px;
            max-height:150px;
            max-width:150px;
            overflow:hidden;
        }
        app-group-header-element {
            grid-area:header;
            z-index:2;
            justify-self: start;
            text-align: start;
        }
        app-group-description-element {
            grid-area:description;
            z-index:2;
        }
        z-index: 2;
        @include gradient-0;
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }
    app-group-statistics-element {
        grid-area:statistics;
        z-index:2;
    }
    @media (max-width:880px) {
        app-section-element {
            grid-template-columns: 20px 1fr 20px;
            grid-template-rows: 20px 150px max-content max-content;
            grid-template-areas:
            '. . .'
            '. image .'
            '. header .'
            '. description .';
            row-gap:20px;
            background-size: 100% calc(50% - 20px);
            app-group-header-element {
                grid-area:header;
                justify-self: center;
                text-align: center;
            }
            app-group-description-element {
                grid-area:description;
            }
        }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 1;
      margin: 1px; /* !importanté */
      border-radius: inherit; /* !importanté */
      transition:var(--transition);
      background:var(--gray-0);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 0;
      margin: -1px; /* !importanté */
      border-radius: inherit; /* !importanté */
      @include gradient-0;
      opacity:0;
      transition:var(--transition);
    }
    &:hover {
        &:before {
            opacity:1;
        }
    }
}