:host {
    background:var(--gray-1);
    border-radius:var(--border-radius);
    transition:var(--transition);
    display:grid;
    grid-template-areas:
    '. . . .'
    '. icon input .'
    '. . . .';
    grid-template-columns: 20px max-content 1fr 20px;
    grid-template-rows: 10px 1fr 10px;
    input {
        grid-area:input;
    }
    &:hover {
        background:var(--gray-2);
    }
}