:host {
    grid-area: content;
    background:var(--gray-0);
    display:grid;
    grid-template-areas:
    '. . . . . . . .'
    '. icon logo . search . buttons .'
    '. . . . . . . .';
    grid-template-columns: 20px max-content max-content 1fr minmax(200px, 1000px) 1.5fr max-content 20px;
    grid-template-rows: 20px 1fr 20px;
    min-width:100vw;
    max-width:100vw;
    width:100vw;
    column-gap:20px;
    app-svg-element {
        grid-area:icon;
        display:none;
        cursor: pointer;
    }
    app-search-element {
        grid-area:search;
    }
    app-logo-element {
        grid-area:logo;
    }
    @media (max-width:1200px) {
        app-svg-element {
            display:grid;
        }
    }
}