:host {
    transition:var(--transition);
    background:var(--gray-0);
    border-radius: var(--border-radius);
    border:2px solid transparent;
    max-width:calc(100% - 4px);
    min-width:calc(100% - 4px);
    width:calc(100% - 4px);
    max-height:fit-content;
    min-height:fit-content;
    height:fit-content;
    overflow: hidden;
    display:grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows:
    100px max-content 30px max-content max-content 20px;
    grid-template-areas:
    'image image image'
    '. header .'
    '. description .'
    '. actions .'
    '. statistics .'
    '. . .';
    row-gap:20px;
    &:hover {
        border-color: var(--white);
    }
    app-group-image-element {
        grid-area:image;
    }
    app-group-header-element {
        grid-area:header;
    }
    app-group-description-element {
        grid-area:description;
    }
    app-group-actions-element {
        grid-area:actions;
    }
    app-group-statistics-element {
        grid-area:statistics;
    }
}