@import '../../../../scss/theme.scss';

:host {
    transition:var(--transition);
    // background:var(--gray-1);
    border-radius:var(--border-radius);
    // &.blue {
    //     color: var(--blue);
    //     border-color:  var(--blue);
    // }
    // &.orange {
    //     color: var(--orange);
    //     border-color:  var(--orange);
    //     ::selection {
    //         background: var(--orange);
    //     }
    // }
    // &.green {
    //     color: var(--green);
    //     border-color:  var(--green);
    //     ::selection {
    //         background: var(--green);
    //     }
    // }
    // &.red {
    //     color: var(--red);
    //     border-color:  var(--red);
    //     ::selection {
    //         background: var(--red);
    //     }
    // }
    // &.pink {
    //     color: var(--pink);
    //     border-color:  var(--pink);
    //     ::selection {
    //         background: var(--pink);
    //     }
    // }
    // &.purple {
    //     color: var(--purple);
    //     border-color:  var(--purple);
    //     ::selection {
    //         background: var(--purple);
    //     }
    // }
    // &.yellow {
    //     color: var(--yellow);
    //     border-color:  var(--yellow);
    //     ::selection {
    //         background: var(--yellow);
    //     }
    // }
    @include gradient-0;
    font-variant-caps: all-small-caps;
    cursor: pointer;
    display:grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr 10px;
    grid-template-areas:
    '. . .'
    '. topic .'
    '. . .';
    h6 {
        grid-area:topic;
        font-weight:900;
        font-size:1rem;
        // color: var(--gray-0);
    }
}