<form class="top" [@navRouterAnimations]="top.isActivated ? top.activatedRoute : ''">
  <router-outlet #top="outlet" id="top" name="top"></router-outlet>
</form>

<nav class="menu" [@navRouterAnimations]="nav.isActivated ? nav.activatedRoute : ''">
  <router-outlet #nav="outlet" id="nav" name="nav"></router-outlet>
</nav>

<main class="content" [@mainRouterAnimations]="main.isActivated ? main.activatedRoute : ''">
  <router-outlet #main="outlet" id="main" name="main"></router-outlet>
</main>


<aside class="relatables" [@asideRouterAnimations]="aside.isActivated ? aside.activatedRoute : ''">
  <router-outlet #aside="outlet" id="aside" name="aside"></router-outlet>
</aside>