<ng-container *ngIf="this.type === 'custom-choice' && this.alreadyVoted === false">
    <app-question-custom-choice-element (voted)="this.vote($event)"
    [@ngIfHeightAnimations]
    [loggedInAs]="this.loggedInAs"></app-question-custom-choice-element>
</ng-container>
<ng-container *ngIf="this.type === 'multi-choice' && this.alreadyVoted === false">
    <app-question-multi-choice-element (voted)="this.vote($event)"
    [@ngIfHeightAnimations]
    [loggedInAs]="this.loggedInAs"></app-question-multi-choice-element>
</ng-container>
<ng-container *ngIf="this.type === 'two-choice' && this.alreadyVoted === false">
    <app-question-two-choice-element (voted)="this.vote($event)"
    [@ngIfHeightAnimations]
    [loggedInAs]="this.loggedInAs"></app-question-two-choice-element>
</ng-container>