@import '../../../../../scss/theme.scss';

:host {
    border-radius: var(--border-radius);
    border:1px solid transparent;
    position: relative;
    display:grid;
    grid-template-areas:
    '. . . . .'
    '. name count percentage .'
    '. . . . .';
    grid-template-rows: 20px 1fr 20px;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    h6 {
        &:nth-of-type(1) {
            grid-area:name;
            text-transform: capitalize;
            align-self: center;
        }
        &:nth-of-type(2) {
            grid-area:count;
            text-align: center;
            justify-self: center;
            align-self: center;
        }
        &:nth-of-type(3) {
            grid-area:percentage;
            text-align: end;
            justify-self: end;
            align-self: center;
        }
        z-index:2;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
        margin: 1px; /* !importanté */
        border-radius: inherit; /* !importanté */
        transition:var(--transition);
        background:var(--gray-0);
      }
      &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 0px;
        margin: -1px; /* !importanté */
        border-radius: inherit; /* !importanté */
        @include gradient-0;
        transition:var(--transition);
      }
}