<app-svg-element (click)="this.vote(0)"
class="v-oppose" icon="emoticon-dead" fill="var(--red)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element (click)="this.vote(1)"
class="oppose" icon="emoticon-angry" fill="var(--light-red)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element (click)="this.vote(2)"
class="neutral" icon="emoticon-neutral" fill="var(--yellow)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element (click)="this.vote(3)"
class="for" icon="emoticon-happy" fill="var(--light-blue)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element (click)="this.vote(4)"
class="v-for" icon="emoticon-excited" fill="var(--blue)"
height="40px"
width="40px"></app-svg-element>