<app-svg-element class="v-oppose" icon="emoticon-dead" fill="var(--red)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element class="oppose" icon="emoticon-angry" fill="var(--light-red)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element class="neutral" icon="emoticon-neutral" fill="var(--green)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element class="for" icon="emoticon-happy" fill="var(--light-blue)"
height="40px"
width="40px"></app-svg-element>
<app-svg-element class="v-for" icon="emoticon-excited" fill="var(--blue)"
height="40px"
width="40px"></app-svg-element>