@import './assets/fonts/stylesheet.css';

:root {
    --gray-0:#090A0B; 
    --gray-1:#141518;
    --gray-2:#212227;

    --red:#FFA69E;
    --blue:#93E1D8;
    --light-blue:#DDFFF7;
    --white: #EEE5E9;

    --border-radius:10px;

    --transition: 0.25s ease-in;
}

html, body {
    display:grid;
    grid-template-areas:
    'content';
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-area:content;
    max-width:100vw;
    max-height:100vh;
    min-width:100vw;
    min-height:100vh;
    width:100vw;
    height:100vh;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

html {
    font-family: 'Plus Jakarta Sans';
    font-size:16px;
    background:var(--gray-1);

    
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: var(--gray-0) rgba(0,0,0,0);   /* scroll thumb and track */
    ::-webkit-scrollbar {
        border-color: var(--gray-1);
        border-radius: var(--border-radius);       /* roundness of the scroll thumb */
      width: 0px;               /* width of the entire scrollbar */
      height: 0px;               /* width of the entire scrollbar */
    }
    
    ::-webkit-scrollbar-track {
        border-color:rgba(0, 0, 0, 0.0);
        border-radius: var(--border-radius);       /* roundness of the scroll thumb */
      background: rgba(0,0,0,0);        /* color of the tracking area */
    }

    ::-webkit-scrollbar-thumb {
        background: var(--gray-1); /* Old browsers */
      border-radius: var(--border-radius);       /* roundness of the scroll thumb */
      border: 0px solid rgba(0, 0, 0, 0.0);  /* creates padding around scroll thumb */
    }

    ::-webkit-scrollbar-corner {
        background: rgba(0,0,0,0.0);
        border-radius:var(--border-radius);
    }
    
    ::selection {
        color: var(--gray-0);
        background: var(--blue);
    }

    * {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        scrollbar-color: var(--gray-1) rgba(0,0,0,0);   /* scroll thumb and track */
        ::-webkit-scrollbar-thumb {
            background: var(--gray-1); /* Old browsers */
          border-radius: var(--border-radius);       /* roundness of the scroll thumb */
          border: 0px solid rgba(0, 0, 0, 0.0);  /* creates padding around scroll thumb */
        }
        ::-webkit-scrollbar {
            display: none;
        }
    }
}

input, button, textarea, ul, h1, h2, h3, h4, h5, h6, span, p, input, button, span {
    font-family: 'Plus Jakarta Sans';
    margin:unset;
    padding:unset;
    border:unset;
    background:unset;
    outline:unset;
    color:var(--white);
    font-size:1rem;
}


h1 {
    font-size:3rem;
    font-weight:700;
    line-height: 3rem;
}

h2 {
    font-size:3rem;
    font-weight:700;
}

h3 {
    font-size:1.5rem;
    font-weight:700;
    letter-spacing: 0.3rem;
    font-variant-caps: small-caps;
    background: linear-gradient(92.5deg,var(--blue) 6.25%,var(--light-blue) 106.66%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

h4 {
    font-size:1rem;
    color: var(--white);
    font-weight: 500;
}

h5 {
  font-size:1.3rem;
  color: var(--white);
  font-weight: 900;
}

h6 {
  font-weight:300;
  font-size:0.85rem;
}