:host {
    grid-area:content;
    display:grid;
    grid-template-areas:
    'question'
    'site-nav-list'
    '.';
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 20px;
    row-gap:20px;
    height:fit-content;
    max-height:fit-content;
    min-height:fit-content;
    // @media (max-width:1000px) {
    //     grid-template-areas:
    //     'logo list';
    //     grid-template-columns: max-content 1fr;
    //     grid-template-rows: 1fr;
    // }
    app-button-element.question {
        grid-area:question;
    }
    app-logo-element {
        grid-area:logo;
    }
    ul.site-nav-list {
        grid-area:site-nav-list;
        background:var(--gray-0);
        border-radius: var(--border-radius);
    }
    ul {
        display:grid;
        grid-auto-rows: max-content;
        grid-auto-flow: row;
        column-gap:10px;
        row-gap:10px;
        list-style-type: none;
        overflow: hidden;
        li {
            transition: var(--transition);
            display:grid;
            grid-template-areas:
            '. . . .'
            '. icon list-item .'
            '. . . .';
            grid-template-columns: 10px max-content 1fr 10px;
            grid-template-rows: 20px 1fr 20px;
            column-gap:10px;
            cursor: pointer;
            &.active {
                background:var(--black);
            }
            &:hover {
                background: var(--gray-1);
            }
            h6 {
                grid-area:list-item;
            }
        }
    }
}