@import '../../../scss/theme.scss';

:host {
    transition:var(--transition);
    border-radius: var(--border-radius);
    border:1px solid transparent;
    max-width:calc(100% - 2px);
    min-width:calc(100% - 2px);
    width:calc(100% - 2px);
    max-height:fit-content;
    min-height:fit-content;
    height:fit-content;
    overflow: hidden;
    display:grid;
    grid-template-columns: 20px 1fr max-content 20px;
    grid-template-rows: 20px max-content max-content max-content;
    grid-template-areas:
    '. . . .'
    '. header toggle .'
    '. grid grid .'
    '. paginator paginator .';
    row-gap: 20px;
    position: relative;
    app-section-element.grid {
        max-width:100%;
        min-width:100%;
        width:100%;
        max-height:100%;
        min-height:100%;
        height:100%;
        display:grid;
        grid-area:grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        grid-auto-columns: 1fr;
        justify-items: stretch;
        justify-content:stretch;
        align-content: start;
        align-items: start;
        column-gap:20px;
        row-gap:20px;
        z-index: 2;
    }
    app-section-element.paginator {
        grid-area:paginator;
        max-width:100%;
        min-width:100%;
        width:100%;
        max-height:100%;
        min-height:100%;
        height:100%;
        display:grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        column-gap:20px;
        z-index: 2;
    }
    h4 {
        transition: var(--transition);
        grid-area: header;
        color: var(--white);
        z-index:2;
        &:nth-of-type(2) {
            grid-area:toggle;
            cursor: pointer;
            &:hover {
                color:var(--green);
            }
        }
    }
    h6 {
        justify-self: center;
        text-align: center;
        z-index:2;
    }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 0; right: 0; bottom: 0; left: 0;
    //   z-index: 1;
    //   margin: 1px; /* !importanté */
    //   border-radius: inherit; /* !importanté */
    //   transition:var(--transition);
    //   background:var(--gray-0);
    // }
    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0; right: 0; bottom: 0; left: 0;
    //   z-index: 0;
    //   margin: -1px; /* !importanté */
    //   border-radius: inherit; /* !importanté */
    //   @include gradient-0;
    //   opacity:0;
    //   transition:var(--transition);
    // }
    // &:hover {
    //     &:before {
    //         opacity:1;
    //     }
    // }
}